ion-content {
    --background: #0d0d0e;
    font-family: 'Times New Roman', Times, serif;
    padding: 9px;
    
    
  }

   
  ion-slides {
    height: 100%;
    max-width: 800px;
    background-color: black; 
    
  }
  .swiper-slide {
    display: block;
    margin-bottom: 60px;
    color: var(--ion-color-primary);
  }
  
  ion-slide > h1, h2 {
    margin: 0 0 0 0;
    color: var(--ion-color-personal); 
  }
  
  ion-slide > p {
    border-width: 10px;
    border-color: black;
    border-style: solid;
    font-style: italic;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
    margin: 25px 25px 25px 25px;
  }
  
  
  
  ion-slide > img {
    max-height: 80%;
    max-width: 80%;
    margin: 40px ;
   
  }
  
  ion-slide > ion-icon[name="close"] {
    float: right;
    color: white;
    font-size: 40px;
  }